<!DOCTYPE html>

<head>
  <link rel="stylesheet" href="/static/style.css" />
      
</head>


<body>

  <div class="bar">
    {{if .Username}}
    <a href="/logout" class="bar-link">logout</a>
    <p>WELCOME {{.Username}}</p>
    {{else}}
    <a href="/login" class="bar-link">Login</a>
    <a href="/register" class="bar-link">Register</a>
    {{end}}
  </div>
  <br>
  
  <a class="Create" href="{{if .Username}}#show{{else}}/login{{end}}" >
    <button>CREATE YOUR POST</button>
  </a>
  
  <div id="show" class="modal {{if .Popup}}showit{{end}}">
    <div class="addpost">

      <a href="/post{{if .Curentcategory}}?Categories={{.Curentcategory}}
      {{end}}" class="close">&times;</a>
      <form method="post" action="/post" class="table-post">
        
        <label>Add title</label>
        <input class="title" type="text" name="title" placeholder="Enter your post title" value="{{.Cachetitle}}"> 
        <br>
        <label>Content</label>
        <textarea class="content" name="content" placeholder="Write something...">{{if .Cacheconetent}}{{.Cacheconetent}}{{end}}</textarea>
        <fieldset>
          <legend>Choose categories:</legend>
          {{range .Categories}}
          <label>
            <input type="checkbox" name="category_ids" value="{{.}}"> {{.}}
          </label><br>
          {{end}}
        </fieldset>
        {{if .Error}}
      <p class="error">{{.Error}}</p>
    {{end}}
         
            
        <br>
        <button class="sub_post" type="submit">Create Post</button>
        
        </form>


    </div>
  </div>
  
  <div class="container">
    <div class="filter">
      <h2>Filter</h2>
      
       <ul class="category-list">
        <li><a href="/post" >AllPost</a></li>
         {{if .Username}}
         <li><a href="/post?Categories={{.Username}}">MyPost</a></li>  <!--?Categories=__my-->
        {{end}}
        {{range .Categories}}
          <li><a href="/post?Categories={{.}}">{{.}}</a></li>  
        {{end}}
    </ul>
    </div>
    <div class="allpost">
      {{range .Posts}}
      <div class="post">
        <h1 id="title">{{.Title}}</h1>
        <pre>{{.Content}}</pre>
      </div>

      {{else}}
      <div id="nopost" class="post">
        <h1>No posts found.</h1>
      </div>

    </div>
    {{end}}


  </div>


</body>


